

.img1{
    height: 150px;
    width: 150px;
    

}
html{
    background-color: #ffffff;
}

.hhh{

   

}

.down{

   
}
.t1{

}

.lne{
    border-top: 2px solid black;
}
.skls{
   
}
